* {
  margin: 0px;
  padding: 0px;
}
body{
  position: relative;
}
#side-nav-Modal{
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.413);
  z-index: 49;
  transition: z-index 500ms; 
}
#side-nav-outer-box {
  /* border: 20px solid yellow; */
  position: sticky;
  /* z-index: 10; */
  background-color: white;
  /* background-color: red; */
  width: 22%;
  box-shadow: 2px 0 10px rgba(54, 54, 54, 0.2),
    -2px 0 10px rgba(54, 54, 54, 0.2);
  transition: transform 400ms ease-in-out;
  transform: translateX(-100%);
  top: 0;
  left: 0;
  z-index: 75;
}


#section-header {
  position:sticky ;
  top: 0;
  margin: auto;
  /* width: 100%; */
  height: 66px;
  /* border: 5px solid red; */
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
  background-color: #ffffff;
}

#header-right{
    /* border: 2px solid red; */
    width: 58%;
    height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-item1 {
  height: 50px;
  display: flex;
  align-items: center;
}
.header-item2 {
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
#side-header-menu-button {
    z-index: 0;
    border: 0px;
    cursor: pointer;
    transition: transform 0.3s;
    
}
#side-header-menu-icon {
    width: 35px;
    height: 35px;
    
    /* border: 2px solid red; */
}

.header-item2 > a{
  transition: transform 0.3s;
}
#side-header-menu-button:hover{
  transform: scale(1.2) ;
  
}
#header-item-image-cart > img {
  
  width: 28px;
}
#header-item-image-whatsapp > img {
  width: 28px;
}
#header-item-image-account > img {

    width: 34px;
}
#header-item-image-account {
  transition: transform 0.3s;
  color: black;
  text-decoration: none;
  /* border: 2px solid red; */
  /* position: relative; */
  font-size: 12px;
  display: flex;
  align-items: center;
}
#header-item-image-account:hover{
  transform: scale(1.05);
}
#header-item-image-whatsapp:hover{
  transform: scale(1.2);
}
#header-item-image-cart:hover{
  transform: scale(1.2);
}
.top-nav-head{
  
  height: 66px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-bar-search-menu{
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 32%;
  height: 31.29px;
  padding: 8px 15px;
}
.input-search-procucts {
  border: 0px;
  width: 174.4px;
  height: 31.29px;
}
#speak{
  border-radius: 20px;
  width: 35px;
  height: 35px;
  /* border: 1px solid green; */
  border: 0px;
  background-color: rgb(240, 233, 233);
}

#mic-icon,.search-icon{
  width: 23px;
    height: 23px;
    margin: auto;
}

button{
  cursor: pointer;
}

.submit-search {
  width: 36px;
  margin-left: 0px;
  border: 0px;
}
.back-trans{
  background: transparent;
}

.side-nav-main {
  background-color: #ffffff;
  width: 323.2px;
  height: 513.94px;
  /* border: 2px solid red; */
}
.side-nav-head {
  /* border: 2px solid green; */
  margin: auto;
  width: 263.2px;
  height: 45.05px;
}
.side-nav-head-buttons {
  text-decoration: none;
  /* font-size: 14px;
    color: #313030;
    font-weight: 400; */
}
.side-nav-royality-image {
  width: 150px;
  height: 41.25px;
}
.side-bar-search-menu {
  /* border: 2px solid orange; */
  display: flex;
  width: 200px;
  height: 31.29px;
  margin-left: 0px;
  margin-top: 25px;
  padding: 8px 15px;
}


.link-primary {
  text-decoration: none;
}
.linked-list {
  margin: auto;
  margin-top: 20px;
  /* border: 2px solid red; */
  width: 263.2px;
  height: 236.4px;
  list-style: none;
}
.side-nav-bar {
  height: 236.4px;
  /* border: 2px solid green; */
  /* width: 323.2px; */
}
.side-nav-text-font-family {
  color: #313030;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
}
.side-nav-header {
    height: 66px;
      
    /* border: solid red; */
    padding-left: 10px;
  } 
#drawer-close-button {
    position: absolute;
  border: 0px;
  width: 39px;
  height: 31px;
  margin: auto;
  margin-top: 16px;
  /* margin-left: 70px; */
  /* background-color: red;  */
  margin-left: 18px;
}
.drawer-close-icon {
  width: 39px;
  height: 31px;
  color:rgb(81, 81, 81);
}
.side-nav-hr {
  /* margin: 0px; */
  margin-top: 0px;
}
#drawer-main {
  /* box-shadow: rgba(255, 255, 255, 0.2) 0px 18px 50px -10px; */
  padding-top: 30px;
  height: 679.6px;
  overflow: auto;
}
.drawer-container {
  /* width: 323.2px; */
  height: 778.34px;
}
#drawer-close-button {
  position: absolute;
  transition: 1s;
  cursor: pointer;
}
#drawer-close-button:hover {
  transform: scale(1.2);
  transition: 0.2s ease-out;
}

.side-nav-head a:hover{
    color: red;
    /* padding: 2px; */
    font-size: 14px;
}



