@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;

}
.bg-img{
    background: url('https://cdn.shopify.com/s/files/1/0404/0196/1115/files/Logo.jpg?v=1652856086');
    height: 100vh;
    background-size: cover;
    background-position:center;
}

.bg-img:after{
    content:'';
    top: 0;
    left:0;
    height: 100%;
    width:100%;
    background: rgba(0,0,0,0.7);
}

.container{
    position: absolute;
    top: 20%;
    left:40%;
    width:45vh;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    background-color:rgba(225,225,225,0.4);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}
.container header{
    color:black;
    size: 33px;
    font-weight:800;
    margin: 0 0 35px 0;
    font-family: 'Montserrat',sans-serif;
}
.feild{
    position: relative;
    height: 45px ;
    width: 100%;
    display:flex ;
    background: rgba(255,255,255,0.94);
}
.feild input{
    height:100% ;
    width: 100%;
    background:transparent ;
    border:none ;
    outline:none ;
    font-weight: 800;

}
.feild span{
    color: #222;
    width: 60px;
    line-height: 45px;
}

.space{
    margin-top: 16px;
}
.pass{
    text-align: left;
    margin: 10px 0;
}
.pass a{
    color:black;
    font-family: 'poppins' sans-serif;
     text-decoration: none;
}
input[type="Submit"]{
    color: sandybrown;
    font-size: 18px;
    font-weight: 600; 
}


/* <<----hover effect----->> */


.pass a:hover{
    color: white;
    padding-left: 10px;
}
.container header:hover{
color:white;
}
.pass a:hover{
 text-decoration: underline;
}
input[type="Submit"]:hover{
    background-color: black;
    
}
