* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#all-Items-slidebaarBox {
  background-color: #f9f9f9;
  display: flex;
}
#all-Items-slidebaar {
  /* border: 2px solid red; */
  position: relative;
  /* padding: 0px 32px; */
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  /* gap: 40px; */
  width: 55%;
  margin: auto;
  overflow-x: hidden;
  padding: 5px 32px;
}
#all-Items-slidebar-mover {
  /* border: 2px solid blue; */
  position: relative;
  /* padding: 0px 20px; */
  display: flex;
  justify-content: space-between;
  gap: 40px;
  /* width: 55%; */
  margin: auto;
  /* overflow-x: hidden; */
  transition: transform 300ms;
}

#all-items-leftSlideButtonBox {
  z-index: 10;
  background-color: #f9f9f9;
  /* border: 2px solid red; */
  left: 0px;
  height: 90px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#all-items-rightSlideButtonBox {
  z-index: 10;
  background-color: #f9f9f9;
  /* border: 2px solid red; */
  right: 0px;
  height: 90px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#all-items-leftSlideButton {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid rgb(168, 168, 168);
  background-color: rgb(228, 228, 228);
  /* left: 0px; */
  /* top: 38px; */
}

#all-items-rightSlideButton {
  border: 1px solid rgb(168, 168, 168);
  background-color: rgb(228, 228, 228);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /* right: 0px; */
  /* top: 38px; */
  /* position: absolute; */
}
#all-items-leftSlideButton:focus {
  border: 1px solid #e92;
  background-color: rgb(255, 240, 219);
  /* color: rgb(255, 60, 229); */
  /* background-color: #e92; */
  color: #e92;
}
#all-items-rightSlideButton:focus {
    border: 1px solid #e92;
    background-color: rgb(255, 240, 219);
    /* background-color: rgb(255, 211, 249); */
    /* color: rgb(255, 60, 229); */
    color: #e92;
}
#all-Items-slidebaar-image {
  text-align: center;
}
#all-Items-slidebaar-image img {
  width: 90px;
  height: 90px;
}
#all-Items-slidebaar-image > a {
  text-decoration: none;
  line-height: 30px;
  color: black;
  font-size: 15px;
}
#all-Items-Middle {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  border-bottom: 1px solid #c4c4c4;
}
#all-Items-Middle-left {
  width: 63.4%;
}
#all-Items-Middle-right {
  text-align: center;
  padding-top: 185px;
  width: 36%;
}
#all-Items-Middle-left img {
  width: 100%;
  height: 100%;
}
#all-Items-Middle h1{
    font-size: 44px;
    margin-bottom: 14%;
}
#all-Items-Middle p{
    font-style: normal;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    color: #2d2d2d;
    margin-bottom: 13.6%;
}
#all-Items-Middle button{
    background-color: #2d2d2d;
    color: #fcfcfc;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 13px;
    width: 200px;
    height: 42px;
    letter-spacing: 2px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#all-Items-body{
    padding: 0px 200px;
}
#all-Items-body > h1{
    margin: 20px 0px;
}
#all-Items-fetchedProducts{
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}
#all-Items-fetchedProducts img{
    width: 100%;
}