@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    list-style: 1.5;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    background-color: white;
    margin: autos;
}

ul {
    list-style-type: none;


}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* .footer {
    background-color: antiquewhite;
    padding: 70px 0;
} */

.footer-col {
    width: 25%;
    padding: 0 15px;
}
.footer-col1{
    width:100%;
    align-items: center;
}

.footer-col h4 {
    font-size: 16px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 800;
    position: relative;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}

/* .footer-col h4::before{
    content:' ' ;
    position:absolute;
    left: 0;
    bottom: -10px;
    /* background-color: #e91e63; */
/* height: 2px; */
/* box-sizing: border-box;
width:100%; */
/* /* border: 1px solid teal;
} */ 

 .footer-col ul li:not(:last-child) {
    /* margin-bottom: 10px; */
}

.footer-col ul li a {
    font-size: 15px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-weight: 400;
    display: block;
    transition: all 0.3s ease;

}
.footer-col .social-links{
    display: flex;
    gap: 15px;
}
.footer-col .social-links a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    /* display: inline-block; */
    height: 20px;
    width: 100px;
    /* margin: 0 15px 15px 0; */
    /* text-align: center; */
    /* line-height: 100px; */
    /* border-radius: 80%;
    transition: all 0.3e ease; */
}
.social-links{
 /* margin-left: 185%; */
 margin-top: 10px;
}
.social{
    margin-top: 25px;
}

/* <<----hover effect---->> */

.footer-col ul li a:hover {
    color: #e92;
    padding-left: 10px;
}

/* .footer-col .social-links a:hover {
    color: #e91e63;
    background-color: black;
} */

.footer-col h4:hover {
    color: #e91e63;
    padding-left: 10px;

}
.footer-col1{
    width: 100%;
    align-items:center;
  
}
.social-links{
    display: flex;
    width: 250px;
    justify-content: space-between;
    margin: auto;
}

/* <<--responsive-->> */

@media (max-width:767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 10px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}