#cart-product {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    margin: auto;
    background-color: white;
    /* display: none; */
  }
  #cart-productImage {
    width: 33%;
  }
  #cart-productDetailsBox {
    width: 64%;
  }
  #cart-productImage > img {
    height: 140px;
    width: 100%;
    object-fit: cover;
  }
  #cart-productName {
    font-size: 11px;
    font-weight: 100;
    color: rgb(65, 65, 65);
    margin-bottom: 5px;
    line-height: 15px;
    text-transform: uppercase;
  }
  #cart-PriceDiv {
    font-size: 12px;
    font-weight: 100;
    color: rgb(49, 49, 49);
    display: flex;
  }
  #cart-productStrikedPrice {
    margin-bottom: 0px;
    text-decoration: line-through;
    color: rgb(78, 78, 78);
  }
  #cart-productPrice {
    margin-bottom: 0px;
    font-weight: 600;
    margin-left: 10px;
  }
  #cart-productSelectSize {
    width: 100%;
    padding: 0px 6px;
    font-size: 11px;
    font-weight: 100;
    color: rgb(65, 65, 65);
    border-color: #f06853;
  }
  /* #cart-productSelectSize > option{
    font-size: 11px;
    font-weight: 100;
    color: rgb(65, 65, 65);
  } */
  #cart-productAddButton {
    text-transform: uppercase;
    background-color: black;
    width: 50px;
    height: 20px;
    color: white;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 2px;
    margin-top: 10px;
  }
  #cart-select-color-Box {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
  }
  #cart-select-color-Box > div {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
  }
  #cart-select-color-Box > div:hover {
    border: 1px solid rgb(180, 180, 180);
  }
  #cart-select-color-Box > div > button {
    /* margin: 2px; */
    border: none;
    width: 13px;
    height: 13px;
    border-radius: 50%;
  }
  #cart-select-color-Box > div > button:hover {
    cursor: pointer;
  }
  #cart-select-color-Box > #cart-outer-select-color1 {
    border: 1px solid #f37362;
  }
  #cart-select-color-Box > #cart-outer-select-color2 {
    border: 1px solid #f37362;
  }
  #cart-select-color-Box > #cart-outer-select-color3 {
    border: 1px solid #f37362;
  }
  #cart-select-color-Box > #cart-outer-select-color4 {
    border: 1px solid #f37362;
  }
  #cart-select-color-Box > #cart-outer-select-color5 {
    border: 1px solid #f37362;
  }
  .cart-select-color1 {
    background-color: #773644;
  }
  .cart-select-color2 {
    background-color: #23395d;
  }
  .cart-select-color3 {
    background-color: #4b464c;
  }
  .cart-select-color4 {
    background-color: #3c5653;
  }
  .cart-select-color5 {
    background-color: #66648b;
  }