
    #complete_box{
        max-width:950px;
        margin:auto;
    }

    #heading_box{
        width:100%;
        display:flex;
    }

    .product_image{
        width:100%;
        height:100%;
        
        object-fit: cover;
    }

    .product_image_div{
        width:120px;
        height:173px;
    }

    .product_description{
        display:flex;
        flex-direction: column;
        justify-content: center;
        height:100%;
        padding-left: 15px;
    }

    .product{
        width:100%;
        display:flex;
        margin:30px 0px;
    }

    .quantity_div{
        width:20%;
        height:173px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .price_div{
        width:20%;
        height:173px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
    }

    #footer_inside_div{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    #cart_total{
        font-size: 16px;
        color: black;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 0px;
    }

    .cart_total_class{
        font-size: 16px;
        color: black;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 0px;
    }

    #cart_checkout_button{
        background-color: black;
        color:white;
        margin-top: 3px;
        padding:14px 28px;
        border:0px;
    }

    .product_color_and_size{
        margin-top:6px; margin-bottom:0px; font-size: 12px;color:#6a6a6a;
    }

    .product_name{
        text-decoration:none; color:#313030; font-size:clamp(1rem, -0.875rem + 1.333vw, 3.5rem); font-weight: 200;
    }

    .product_price{
        margin-top:7px; margin-bottom:0px; padding:0px; font-size:14px;font-weight: 700; color: #6a6a6a;
    }

    .product_quantity_box{
        width:98px; height: 43px; display: flex; margin-left:10px; margin-right:10px;
    }

    .product_quantity_box_in_description{
        width:98px; height: 43px; display: flex;
    }

    .product_quantity_box_minus_box{
        width:39%; height:100%; border:1px solid #e4e4e4; border-right: none; display: flex; align-items: center; justify-content: center;
    }

    .product_quantity_box_minus_icon{
        width:25%; height:25%;
    }

    .product_quantity_box_plus_icon{
        width:25%; height:25%;
    }

    .product_quantity_box_number{
        width:22%; height:100%; border:1px solid #e4e4e4; border-right: none; border-left: none; display: flex; align-items: center; justify-content: center;
    }

    .product_quantity_box_plus_box{
        width:39%; height:100%; border:1px solid #e4e4e4; border-left: none; display: flex; align-items: center; justify-content: center;
    }

    .first_sixty_percent{
        width:60%; display: flex;
    }

    .product_total_price_span{
        font-size:14px;font-weight: 700; color:#6a6a6a; margin-bottom: 5px;
    }

    a.remove_button{
        font-size: 12px; margin-top: 10px; color:#4a4a4a; position:relative;
    }

a.remove_button:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  right: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.remove_button:hover:before {
  visibility: visible;
  width: 100%;
}

    .horizontal_line{
        color:#e4e4e4;
        background-color: #e4e4e4;
        height:1px;
        border:none;
    }

    #non_empty_cart{
        background-color: #ffffff; font-family:sans-serif;
        display: none;
        /* border: 5px solid red; */
        margin-bottom: 50px;
    }

    #empty_cart{
        font-family: sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width:100%;
        height: calc(100vh - 20px);
    }

    #empty_cart_line{
        font-size: 16px;
        font-weight: 400;
    }

    

    .shop_button{
        color: white;
        border: 1px solid black;
        background-color: black;
        border-radius: 0px;
        padding: 14px 32px;
        display: inline-block;
        margin-top: 20px;
        font-size: 15px;
        font-weight: 400;
        cursor: pointer;
        box-shadow: inset 0 0 0 0 black;
        -webkit-transition: ease-in-out 0.6s;
        -moz-transition: ease-in-out 0.6s;
        transition: ease-in-out 0.6s;
        -webkit-tap-highlight-color: initial;
    }

    .shop_button:hover{
        box-shadow: inset 400px 0 0 0 white;
        color:black;
    }

    @media only screen and (max-width: 625px){

        .product_image_div{
            width:90px;
            height: 129.75px;
        }

        .first_sixty_percent{
            height:129.75px;
        }

        .quantity_div{
            height: 129.75px;
        }

        .price_div{
            height: 129.75px;
        }

        .product_quantity_box{
            width:68px;
            height:30px;
        }

    }
