* {
  margin: 0px;
  padding: 0px;
}
#bot-opener{
  display: none;
}
h1, h4, h5, h6{
  font-size: unset;
  margin-bottom: 0px;
}
body {
  position: relative;
}
#side-nav-Modal {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.413);
  z-index: 49;
  transition: z-index 500ms;
  height: 100%;
}
#side-nav-outer-box {
  /* border: 20px solid yellow; */
  position: fixed;
  /* z-index: 10; */
  background-color: white;
  /* background-color: red; */
  width: 340px;
  box-shadow: 2px 0 10px rgba(54, 54, 54, 0.2),
    -2px 0 10px rgba(54, 54, 54, 0.2);
  transition: transform 400ms ease-in-out;
  transform: translateX(-100%);
  top: 0;
  left: 0;
  z-index: 75;
}
.side-nav-header {
  height: 66px;
  padding-left: 10px;
}

#drawer-close-button {
  position: absolute;
  border: 0px;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  margin: auto;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 18px;
}

.drawer-close-icon {
  width: 25px;
  height: 25px;
  color: rgb(81, 81, 81);
}

.drawer-close-icon:hover {
  color: #f36951;
}
#drawer-main {
  /* box-shadow: rgba(255, 255, 255, 0.2) 0px 18px 50px -10px; */
  padding-top: 30px;
  /* height: 680px; */
  height: 640px;
  overflow: auto;
}

.drawer-container {
  /* width: 323.2px; */
  height: 778.34px;
}

.side-nav-main {
  background-color: #ffffff;
  width: 323.2px;
  height: 513.94px;
  /* border: 2px solid red; */
}
.side-nav-head {
  /* border: 2px solid green; */
  margin: auto;
  width: 263.2px;
  height: 45.05px;
}
.side-nav-head-buttons {
  text-decoration: none;
}
.side-nav-royality-image {
  width: 150px;
  height: 41.25px;
}
.side-bar-search-menu {
  /* border: 2px solid orange; */
  display: flex;
  width: 200px;
  height: 31.29px;
  margin-left: 0px;
  margin-top: 25px;
  /* padding: 8px 15px; */
}
.header-item2 #home-CartIcon{
  background-color: white;
  padding: 0px;
  border: none;
  position: unset;
  bottom: 0px;
  margin-bottom: 0px;
}
.sideNavFooterText {
  text-decoration: none;
}

.linked-list {
  margin: auto;
  margin-top: 20px;
  margin-left: 0px;
  /* border: 2px solid red; */
  width: 263.2px;
  height: 236.4px;
  list-style: none;
}

.side-nav-bar {
  height: 236.4px;
  /* border: 2px solid green; */
}
#current-user{
  text-transform: uppercase;
}
.side-nav-text-font-family {
  color: #313030;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
}
.side-nav-text-font-family:hover{
  color: #f36951;
}
.side-nav-hr {
  /* margin: 0px; */
  margin-top: 0px;
}

#drawer-close-button {
  position: absolute;
  transition: 1s;
  cursor: pointer;
  transition: transform 200ms;
}

/* side nav hover */
#drawer-close-button:hover {
  transform: scale(1.2);
  color: #f36951;
  background-color: #f1c7bf;
}

.side-nav-head a {
  transition: font-size 150ms;
}
.side-nav-head a:hover {
  color: rgb(245, 43, 43);
  /* padding: 2px; */
  font-size: 14px;
}

/* top nav bar */

#section-header {
  position: sticky;
  top: 0;
  margin: auto;
  /* width: 100%; */
  height: 66px;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
  background-color: #ffffff;
  /* overflow: hidden; */
}

.header-item1 {
  margin-top: 8px;
}

#side-header-menu-button {
  z-index: 0;
  border: 0px;
  cursor: pointer;
  transition: transform 0.3s;
}
#side-header-menu-icon {
  width: 30px;
  height: 30px;
}

#side-header-menu-button:hover {
  transform: scale(1.2);
}

#header-left {
  display: flex;
  width: 16%;
  justify-content: space-between;
  align-items: center;
}
#header-right {
  /* border: 2px solid red; */
  width: 65%;
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#side-header-menu-button:hover{
  transform: scale(1.2) ;
}

#header-right{
    /* border: 2px solid red; */
    width: 58%;
    height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* overflow: hidden; */
}

.top-bar-search-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 38px;
  border-radius: 6px;
  border: 1px solid rgb(187, 187, 187);
}
#header-searchBox {
  display: flex;
  width: 45%;
}
.input-search-procucts {
  width: 90%;
  outline: none;
  /* border: 2px solid red; */
  height: 100%;
  padding-left: 5px;
  font-size: 15px;
  border: none;
}
.submit-search {
  width: 40px;
  border: none;
  /* border-right: 2px solid gray;
  border-left: 2px solid gray; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* #micBox{
} */
#speak {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid gray; */
  width: 38px;
  height: 100%;
  border-radius: 20px;
  border: none;
  background-color: rgb(228, 228, 228);
}
.search-icon {
  height: 20px;
  width: 20px;
  border: 0px;
}
#mic-icon {
  border: none;
  height: 21px;
  width: 21px;
}
.back-trans {
  background: transparent;
}
.header-item2 {
  width: 260px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  /* border: 2px solid red; */
}

.header-item2 > a {
  transition: transform 0.3s;
}

#header-item-image-account {
  transition: transform 0.3s;
  color: black;
  text-decoration: none;
  font-size: 12px;
  display: flex;
  align-items: center;
}

#header-item-image-account > img {
  width: 34px;
}

#header-item-image-whatsapp > img {
  width: 28px;
}

#header-item-image-cart > img {
  width: 28px;
}

/* hover on the img icons */

#header-item-image-account:hover {
  transform: scale(1.05);
}
#header-item-image-whatsapp:hover {
  transform: scale(1.2);
}
#header-item-image-cart:hover {
  transform: scale(1.2);
}
button {
  cursor: pointer;
}

@media screen and (min-width: 0px) and (max-width: 350px) {
  #header-searchBox {
    display: none;
  }
  .header-logo-image {
    width: 120px;
    transition: 0.3s;
    /* margin: auto; */
  }
  #header-right {
    display: flex;
    justify-content: flex-end;
  }
  .header-item2 {
    /* width: 130px; */
    justify-content: flex-end;
  }
  #header-item-image-whatsapp {
    display: none;
  }
  #header-item-image-cart {
    display: none;
  }
  #section-header {
    padding: 0px 8px;
  }
  #header-item-image-account span {
    display: none;
  }
  #header-left {
  }
  #side-header-menu-icon {
    width: 25px;
    height: 25px;
  }
}

@media screen and (min-width: 350px) and (max-width: 520px) {
  #header-searchBox {
    display: none;
  }
  .header-logo-image {
    width: 150px;
    transition: 0.3s;
    /* margin: auto; */
  }
  #header-right {
    display: flex;
    justify-content: flex-end;
  }
  #header-item-image-whatsapp {
    display: none;
  }
  #header-item-image-cart {
    display: none;
  }
  #section-header {
    padding: 0px 8px;
  }
}

@media screen and (min-width: 520px) and (max-width: 840px) {
  #header-searchBox {
    display: none;
  }
  #header-right {
    display: flex;
    justify-content: flex-end;
  }

  #section-header {
    padding: 0px 17px;
  }
  .header-logo-image {
    width: 170px;
  }
}