.checkout_shipping1{
    color: #f99584;
    font-size: 0.8571428571em;
    text-decoration: none;
}
.checkout_adress_div1{
    width: 100%;
    display: grid;
    height: 150px;
    border: 1px solid #cbc5c1;
    margin-top: 30px;
    border-radius: 5px;
}
.checkout_contact_adress{
    border-bottom: 1px solid #cbc5c1; 
}
.checkout_contact_adress1{
    width: 90%;
    height: 70%;
    display: flex;
    
    /* justify-content: space-between; */
    margin: auto;
    align-items: center;
    /* border-bottom: 1px solid #cbc5c1; */
}
.shipping_adress1{
    margin-left: 20px;
    width: 30%;
    display: flex;
    margin-bottom: 10px;
    /* align-items: center; */
}
#shipping_radio_maindiv4{
    width: 100%;
    display: flex;
    /* justify-content: space-around; */
    /* align-items: center; */
}
.shipping_method_rediobox8{
    width: 60%;
    margin-left: 15px;
    margin-top: 10px;
}
.payment_billing_changed{
    margin-top: 30px;
}
#revisit_adress{
    border: 1px solid #f99584;
}
.payment_method_icon_p2{
    display: grid;
    
}
#down_payment_form{
    width: 100%;
}
#revisit_adress{
    width: 100%;
}
#random_slide_down{
    width: 100%;
}
#cod_shipping_method{
    width: 30%;
    justify-content: space-around;
}
#cod_div{
    height: 30px;
    /* background-color: black; */
}
/* .cash_on_delivery{
    color: white;
    text-decoration: none;
} */
#cod_div1{
    width: 15%;
    height: 30px;
    background-color: #f99584;
    align-items: center;
    margin-right: 10px;
    /* margin-left: 20px; */
    
}
.cash_on_delivery1{
    margin-left: 20px;
    color: white;
    text-decoration: none;
}
.shipping_adress1{
    margin-top: 18px;
}



