* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Istok Web", sans-serif;
}
#home {
  height: 5000px;
  width: 100%;
  /* border: 2px solid red; */
}
#home-CartIcon {
  float: right;
  position: fixed;
  top: 50px;
  right: 50px;
}
/* #cartDrawerModal{
  border: 8px solid green;
  position: fixed;
  z-index: 3000;
}
.offcanvas-end{
  border: 8px solid red;
  position: fixed;
  z-index: 3000;
} */
#sideDrawer-Modal {
  background-color: rgba(0, 0, 0, 0.411);
  height: 649px;
  position: fixed;
  width: 100%;
  /* border: 2px solid red; */
}
#sideDrawer-Box {
  /* padding: 15px 0px; */
  height: 100%;
  width: 100%;
  background-color: white;
  /* margin-top: 15px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
#sideDrawer-Top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  z-index: 10;
  /* margin-bottom: 15px; */
  padding-bottom: 0px;
  /* border: 2px solid blue; */
}
#sideDrawer-Top > h5 {
  text-transform: uppercase;
  color: #4a4a55;
  letter-spacing: 1.3px;
  font-size: 13px;
  font-weight: 900;
  line-height: 20px;
}
#sideDrawer-Top > button {
  color: #c5c5c5;
  font-size: 10px;
}
#sideDrawer-Footer {
  /* margin-top: 20px; */
  transition: transform 500ms ease-out;
  transform: translateY(110%);
  padding: 8px 20px;
  background-color: white;
}
#sideDrawer-Footer > p {
  font-size: 13px;
  color: rgb(51, 51, 51);
  font-weight: 100;
  line-height: 14px;
}
#sideDrawer-Footer > p > span {
  font-weight: 600;
  /* border: 2px solid red; */
  letter-spacing: 0.7px;
  padding-left: 0px;
  padding-right: 0px;
  /* font-size: 14px; */
}
#sideDrawer-closeButton {
  border: 2px solid white;
  transition: background-color 100ms, border 100ms;
}
#sideDrawer-closeButton:hover {
  background-color: #f0b6ad;
  border: 2px solid #eb5740;
}
#sideDrawer-MRP {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  /* margin-top: 10px; */
}
#sideDrawer-YouSave {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}
#sideDrawer-MRP > p {
  font-size: 14px;
  letter-spacing: 1.4px;
  font-weight: 100;
  color: #4d4b4f;
  margin: auto 0;
}
#sideDrawer-YouSave > p {
  font-size: 14px;
  letter-spacing: 1.4px;
  font-weight: 100;
  color: #f06853;
  margin: auto 0;
}
#sideDrawer-YouPay {
  letter-spacing: 1.4px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  border-top: 1px solid rgb(77, 75, 79, 0.5);
}
#sideDrawer-YouPay > h4 {
  font-size: 14px;
  letter-spacing: 1.4px;
  color: #4d4b4f;
  font-weight: 900;
  margin: auto 0;
}

#sideDrawer-checkout {
  width: 100%;
  height: 45px;
  background-color: black;
  color: white;
  font-weight: bold;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin: 12px 0px;
  transition: transform 200ms;
}
#sideDrawer-checkout:hover {
  transform: scale(1.02);
}
#drawerUp {
  background-color: #fee6e1;
  padding: 0px 20px 10px 10px;
  width: 100%;
  transition: transform 500ms;
  /* border: 3px solid red; */
  transform: translateY(0%);
}
#drawerUp-mightLikeTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}
#drawerUp-mightLike {
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
  color: rgb(49, 49, 49);
}
#drawerUp-PlusMinus {
  margin-bottom: 0px;
  transition: font-weight 200ms;
}
#drawerUp-PlusMinus:hover {
  /* transform: scale(1.1); */
  color: #eb5740;
  font-weight: bold;
  cursor: pointer;
}
#drawerUp-product {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  margin: auto;
  background-color: white;
  /* display: none; */
}
#drawerUp-productImage {
  width: 33%;
}
#drawerUp-productDetailsBox {
  width: 64%;
}
#drawerUp-productImage > img {
  height: 140px;
  width: 100%;
  object-fit: cover;
}
#drawerUp-productName {
  font-size: 11px;
  font-weight: 100;
  color: rgb(65, 65, 65);
  margin-bottom: 5px;
  line-height: 15px;
  text-transform: uppercase;
}
#drawerUp-PriceDiv {
  font-size: 12px;
  font-weight: 100;
  color: rgb(49, 49, 49);
  display: flex;
}
#drawerUp-productStrikedPrice {
  margin-bottom: 0px;
  text-decoration: line-through;
  color: rgb(78, 78, 78);
}
#drawerUp-productPrice {
  margin-bottom: 0px;
  font-weight: 600;
  margin-left: 10px;
}
#drawerUp-productSelectSize {
  width: 100%;
  padding: 0px 6px;
  font-size: 11px;
  font-weight: 100;
  color: rgb(65, 65, 65);
  border-color: #f06853;
}
/* #drawerUp-productSelectSize > option{
  font-size: 11px;
  font-weight: 100;
  color: rgb(65, 65, 65);
} */
#drawerUp-productAddButton {
  text-transform: uppercase;
  background-color: black;
  width: 50px;
  height: 20px;
  color: white;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 2px;
  margin-top: 10px;
}
#drawerUp-select-color-Box {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}
#drawerUp-select-color-Box > div {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}
#drawerUp-select-color-Box > div:hover {
  border: 1px solid rgb(180, 180, 180);
}
#drawerUp-select-color-Box > div > button {
  /* margin: 2px; */
  border: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}
#drawerUp-select-color-Box > div > button:hover {
  cursor: pointer;
}
#drawerUp-select-color-Box > #drawerUp-outer-select-color1 {
  border: 1px solid #f37362;
}
#drawerUp-select-color-Box > #drawerUp-outer-select-color2 {
  border: 1px solid #f37362;
}
#drawerUp-select-color-Box > #drawerUp-outer-select-color3 {
  border: 1px solid #f37362;
}
#drawerUp-select-color-Box > #drawerUp-outer-select-color4 {
  border: 1px solid #f37362;
}
#drawerUp-select-color-Box > #drawerUp-outer-select-color5 {
  border: 1px solid #f37362;
}
.drawerUp-select-color1 {
  background-color: #773644;
}
.drawerUp-select-color2 {
  background-color: #23395d;
}
.drawerUp-select-color3 {
  background-color: #4b464c;
}
.drawerUp-select-color4 {
  background-color: #3c5653;
}
.drawerUp-select-color5 {
  background-color: #66648b;
}

#sideDrawer-ProductBox {
  /* display: none; */
  width: 100%;
  margin: auto;
  padding: 0px 10px;
  position: absolute;
  /* border: 1px solid red; */
  top: 0px;
  height: 138px;
  overflow-y: scroll;
}
#cart-product{
  display: flex;
}
#cart-product {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  margin: auto;
  background-color: white;
  /* display: none; */
  /* border: 2px solid red; */
}
#cart-productImage {
  width: 30%;
}
#cart-productDetailsBox {
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#side-cart-removeAddBox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 17%;
}
#cart-productImage img {
  height: 110px;
  width: 100%;
  object-fit: cover;
  transition: transform 500ms;
}
#cart-productImage img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
#cart-productName {
  font-size: 11px;
  font-weight: 100;
  margin-bottom: 5px;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}
#cart-productName:hover {
  color: #eb5740;
  cursor: pointer;
}
#side-cart-productColorSize{
  font-size: 10px;
  font-weight: 100;
  color: rgb(65, 65, 65);
  margin-bottom: 5px;
  line-height: 15px;
  letter-spacing: 0.8px;
}
#cart-PriceDiv {
  font-size: 11px;
  font-weight: 100;
  color: rgb(49, 49, 49);
  display: flex;
}
#cart-productStrikedPrice {
  margin-bottom: 0px;
  text-decoration: line-through;
  color: rgb(78, 78, 78);
}
#cart-productPrice {
  margin-bottom: 0px;
  font-weight: 600;
  margin-left: 10px;
}
#side-cart-removeProduct > p{
  font-size: 11px;
  color: rgb(124, 124, 124);
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
}
#side-cart-removeProduct > p:hover{
  cursor: pointer;
  color: #ff391b;
}
#side-cart-addProduct{
  background-color: rgb(233, 233, 233);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 11px;
  height: 22px;
  border-radius: 3px;
  color: rgb(58, 58, 58);
  font-weight: 600;
}
#side-cart-addMinusQuantity{
  margin-bottom: 0px;
  height: 20px;
  border: none;
  background-color: rgb(233, 233, 233);
  outline: none;
  width: 10px;
  padding-left: 3px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#minusProduct:hover{
  cursor: pointer;
}
#addProduct:hover{
  cursor: pointer;
}
#cart-productSelectSize {
  width: 100%;
  padding: 0px 6px;
  font-size: 11px;
  font-weight: 100;
  color: rgb(65, 65, 65);
  border-color: #f06853;
}
/* #cart-productSelectSize > option{
  font-size: 11px;
  font-weight: 100;
  color: rgb(65, 65, 65);
} */
#cart-productAddButton {
  text-transform: uppercase;
  background-color: black;
  width: 50px;
  height: 20px;
  color: white;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 2px;
  margin-top: 10px;
}
#cart-select-color-Box {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}
#cart-select-color-Box > div {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}
#cart-select-color-Box > div:hover {
  border: 1px solid rgb(180, 180, 180);
}
#cart-select-color-Box > div > button {
  /* margin: 2px; */
  border: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}
#cart-select-color-Box > div > button:hover {
  cursor: pointer;
}
#cart-select-color-Box > #cart-outer-select-color1 {
  border: 1px solid #f37362;
}
#cart-select-color-Box > #cart-outer-select-color2 {
  border: 1px solid #f37362;
}
#cart-select-color-Box > #cart-outer-select-color3 {
  border: 1px solid #f37362;
}
#cart-select-color-Box > #cart-outer-select-color4 {
  border: 1px solid #f37362;
}
#cart-select-color-Box > #cart-outer-select-color5 {
  border: 1px solid #f37362;
}
.cart-select-color1 {
  background-color: #773644;
}
.cart-select-color2 {
  background-color: #23395d;
}
.cart-select-color3 {
  background-color: #4b464c;
}
.cart-select-color4 {
  background-color: #3c5653;
}
.cart-select-color5 {
  background-color: #66648b;
}